

<!--<h1>This is secret page</h1>-->

<!--<a href="C:\Users\Shirisha Reddy\OneDrive\Documents\Desktop\sujan reddy web\css programme\SR.html">hii</a>-->
<html>
    <head>
        <title>SR Shopping</title>
        <link rel="icon" href="https://thumbs.dreamstime.com/b/initial-letter-logo-sr-company-name-green-orange-color-circle-swoosh-design-vector-logotype-business-identity-203880633.jpg">
        <link rel="stylesheet" href="sr.css">
        <style>
            body{
               /* background: url("https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
                background-repeat: no-repeat;
                background-size: 100% 100%;*/
            
                background-color:whitesmoke;
            }
            h1{
                color:orange;
                display:inline-block;
               
            }
            h2{
                color: brown;
            }
            .a1
            {
                margin-right: 400px;
            }
            /*.home{
                position:-webkit-sticky;
                position: sticky;
                top: 0;
                padding: 5px;
                background-color:gold;
                font-style: oblique;
                border-style: groove;
            }
            body{
                margin-top: 0%;
                margin-left: 0%;
                margin-right: 0%;
                margin-bottom: 0%;
            }
            .farming{
                margin-left: 1400px;
            }*/

          
        </style>
    </head>
    <body>
        
       <!--- <div class="flag">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_India.png" draggable="false" width="100px"height="80px">
    </div>--->
   <!--- <div class="logo">-->

        <h1 style="background-color:antiquewhite; width: 100%; margin: 0%;"><img class="a1" src="https://thumbs.dreamstime.com/b/initial-letter-logo-sr-company-name-green-orange-color-circle-swoosh-design-vector-logotype-business-identity-203880633.jpg" draggable="false" width="80px"height="80px">WELCOME TO SR SHOPPING !!</h1>
    <!--</div>-->
        <div class="home" style="background-color: gold;">
            <table border="0px" width="40%">
            <!--<thead>
                <tr>-->



                    <div class="dropdown">
                    <button class="dropbtn">Shopping</button>
                    <div class="dropdown-content">
                        <a href="https://relianceretail.com/reliance-smart.html">Reliance Mart</a>
                        <a href="https://www.indiamart.com/">India Mart</a>
                        <a href="https://www.ondc.org/">Ondc</a>
                        <a href="https://www.jiomart.com/">Jio Mart</a>
                        <a href="https://www.bigbasket.com/">Bigbasket</a>
                        <a href="https://www.firstcry.com/">Baby Products</a>
                        <a href="https://itcstore.in/">ITC Store</a>
                        <a href="https://www.urbanladder.com/">Home Decoratives</a>
                        <a href="https://www.homecentre.in/in/en/">Homecentre</a>

                    </div>
                   </div>
                    <div class="dropdown">
                        <button class="dropbtn">Pharmacy</button>
                        <div class="dropdown-content">
                            <a href="https://www.apollopharmacy.in/">Apollo</a>
                            <a href="https://pharmeasy.in/">Pharm easy</a>
                            <a href="https://www.1mg.com/">1mg</a>
                            <a href="https://www.chemistsworld.com/">chemistsworld</a>
                            <a href="https://www.medplusmart.com/">medplusmart</a>
                            <a href="https://www.practo.com/order">Practo</a>
                            <a href="https://www.netmeds.com/">netmeds</a>
                        </div>
                    </div>
                <div class="dropdown">
                    <button class="dropbtn">Payments</button>
                    <div class="dropdown-content">
                        <div class="online">
                            <a href="https://pay.google.com/intl/en_in/about/">Gpay</a>
                            <a href="https://www.phonepe.com/">Phone Pay</a>
                            <a href="https://paytm.com/">Paytm</a>
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Trending Styles</button>
                    <div class="dropdown-content">
                        <a href="https://www.meesho.com/">meesho</a>
                        <a href="https://www.flipkart.com/">flipkart</a>
                        <a href="https://www.amazon.in/">amazon</a>
                        <a href="https://trends.ajio.com/">Trends</a>
                        <a href="https://www.myntra.com/sneakers?utm_source=dms_bing&utm_medium=bing_cpc&utm_campaign=&utm_source=bing">Myntra</a>
                        <a href="https://www.grabon.in/myntra-coupons/">Myntra Cupons</a>
                        <a href="https://www.ajio.com/">AJio</a>
                        <a href="https://www.nykaa.com/">NYKAA</a>
                        <a href="https://www.justherbs.in/">Just Herbs</a>
                        <a href="https://www.ustraa.com/">Ustraa</a>
                        <a href="https://www.lifestylestores.com/in/en/">LifeStyle</a>
                        <a href="https://www.maxfashion.in/in/en/">Maxfashion</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Trending Electronics</button>
                    <div class="dropdown-content">
                        <a href="https://www.reliancedigital.in/">Reliance Digital</a>
                        <a href="https://www.meesho.com/">meesho</a>
                        <a href="https://bajajelectronics.com/">Bajaj Electronics</a>
                        <a href="https://www.flipkart.com/">flipkart</a>
                        <a href="https://www.amazon.in/">amazon</a>
                        <a href="https://www.croma.com/">Croma</a>
                        <a href=" https://www.lenovo.com/in/en/">Lenovo</a>
                        <a href=" https://www.boat-lifestyle.com/">boat-lifestyle</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Trending Foot Wear</button>
                    <div class="dropdown-content">
                        <a href="https://trends.ajio.com/s/footwear-3419-08331">Ajio</a>
                        <a href="https://www.relaxofootwear.com/collection/brand-sparx">Sparx</a>
                        <a href="https://www.paragonfootwear.com/">Paragon</a>
                        <a href="https://www.reebok.in/">Reebok</a>
                        <a href="https://www.grabon.in/reebokindia-coupons/">Reebok Coupons</a>
                        <a href="https://www.nike.com/in/">nike</a>
                        <a href="https://www.grabon.in/nike-coupons/">Nike Coupons</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Music Platform</button>
                    <div class="dropdown-content">
                        <a href="https://open.spotify.com/?">Spotify</a>
                        <a href="https://www.jiosaavn.com/">Jio saavan</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Movies Platform</button>
                    <div class="dropdown-content">
                        <a href="https://www.jiocinema.com/">Jio Cinema</a>
                        <a href="https://www.primevideo.com/offers/nonprimehomepage/ref=dvm_pds_amz_in_as_s_b_amazontest_mkw_5bgcvGj1-dc?mrntrk=pcrid_75660303191630_slid__pgrid_1210562788151299_pgeo_90_x__ptid_kwd-75660529116296:loc-90">Amazon Prime</a>
                        <a href="https://www.netflix.com/in/">Netflix</a>
                        <a href="https://www.zee5.com/">Zee5</a>
                        <a href="https://www.grabon.in/zee5-coupons/">Zee5 Coupons</a>
                        <a href="https://www.aha.video/">aha</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">sports</button>
                    <div class="dropdown-content">
                        <a href="https://www.cricbuzz.com/">Cricbuzz</a>
                        <a href="https://www.icc-cricket.com/live-cricket/live">ICC</a>
                        <a href="https://www.hotstar.com/in/sports/cricket?filters=sport_type%3Dcricket">Disney hotstar</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Food Order</button>
                    <div class="dropdown-content">
                        <a href="https://www.swiggy.com/">swiggy</a>
                        <a href="https://www.zomato.com/ncr/order-food-online">zomato</a>
                        <a href="https://www.eatsure.com/">eatsure</a>
                        <a href="https://www.dominos.co.in/">Domino's Pizza</a>
                        <a href="https://www.dunzo.com/hyderabad">Dunzo</a>
                        <a href="https://www.mcdelivery.co.in/">McDonald’s</a>
                        <a href="https://www.pizzahut.co.in/">Pizza Hut</a>
                        <a href="https://online.kfc.co.in/">KFC</a>
                        <a href="https://www.freshmenu.com/">FreshMenu</a>
                        <a href="https://www.travelkhana.com/">Travelkhana</a>
                        <a href="https://tapzu.in/">Tapzu</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">coupons</button>
                    <div class="dropdown-content">
                        <a href="https://www.grabon.in/swiggy-coupons/">swiggy-coupons</a>
                        <a href="https://www.grabon.in/dominos-coupons/">dominos-coupons</a>
                        <a href="https://www.grabon.in/amazon-coupons/">amazon-coupons</a>
                        <a href="https://www.grabon.in/croma-coupons/">Croma-coupons</a>
                        <a href="https://www.grabon.in/adidas-coupons/">adidas-coupons</a>
                        <a href="https://www.grabon.in/uber-coupons//">uber-coupons</a>
                        <a href="https://www.grabon.in/myntra-coupons/">Myntra-coupons</a>
                        <a href="https://www.grabon.in/tatacliq-coupons/">tatacliq-coupons</a>
                        <a href="https://www.grabon.in/ajio-coupons/">ajio-coupons</a>
                        <a href="https://www.grabon.in/nykaa-coupons/">nykaa-coupons</a>
                        <a href="https://www.grabon.in/zomato-coupons/">zomato-coupons</a>
                        <a href="https://www.grabon.in/mcdonalds-coupons/">mcdonalds-coupons</a>
                        <a href="https://www.grabon.in/1mg-coupons/">1mg-coupons</a>
                        <a href="https://www.grabon.in/bigbasket-coupons/">bigbasket-coupons</a>
                        <a href="https://www.grabon.in/firstcry-coupons/">firstcry-coupons</a>
                        <a href="https://www.grabon.in/pharmeasy-coupons/">pharmeasy-coupons</a>
                        <a href="https://www.grabon.in/flipkart-coupons/">flipkart-coupons</a>
                        <a href="https://www.grabon.in/boat-coupons/">boat-coupons</a>
                        <a href="https://www.grabon.in/lenovo-coupons/">lenovo-coupons</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Health Diet</button>
                    <div class="dropdown-content">
                    <a href="Health diet.html">in telugu</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">News</button>
                <div class="dropdown-content">
                <a href="news.html">in telugu</a>
            </div>
        </div>         
                <!--</tr>
            </thead>-->
        </table>
    </div> 
        <h2>CHOOSE YOUR SHOOPING PLATFORMS</h2>
        <table border="5" align="center" width="50%">                                                                                                    
            <thead>
                <tr>
                    <th>general store</th>
                    <th>medical store</th>
                    <th>payments</th>           
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="https://www.supermarketnews.com/sites/supermarketnews.com/files/styles/article_featured_retina/public/busyconsumers_0.jpg?itok=7RPdmM_R"draggable="false" height="180px" width="auto"><a href="shopping.html"target=_blank ><br/><center>shooping</center></a></td>
                    <br/>
                    <td><img src="https://img.magicpin.com/pharmacy.jpg"draggable="false"height="180px" width="auto" ><a href="pharmacy.html" target=_blank><br/><center>medical websites</center></a></td>
                    <td><img src="https://1.bp.blogspot.com/-FfDBK7PM5jk/XsAgcME7olI/AAAAAAAACXw/CzUKYIkbsXIZ7lXQCg3U3KYgubEfLOoqwCK4BGAsYHg/d/upi-payments.jpg"draggable="false" height="180px" width="auto">        
            <a href="payment.html" target=_blank></br><center>payments</center></a></td>       
                    <!--<link rel="shopping" href="https://www.phonepe.com/">-->
                </tr>
            </tbody>
        </table>


        <h2>TRENDING PLATFORMS !!</h2>
        <table border="5" align="center" width="60.4%">
            <thead>
                <tr>
                    <th>Trending Styles</th>
                    <th>Trending Electronics</th>
                    <th>Trending Foot Wear</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="https://monomousumi.com/wp-content/uploads/cul-696x434.jpg"draggable="false"height="190px" width="355px"><a href="trending style.html" target="_blank"><br/><center>trending styles</center></a></td>
                    <td><img src="https://i.pinimg.com/originals/fd/56/fe/fd56fe106a889d7842bd4e519a95d5c8.jpg"draggable="false"height="190px" width="333px"><a href="trending electronics.html" target="_blank"><br/><center>trending electronics</center></a></td>
                    <td><img src="https://tse2.mm.bing.net/th?id=OIP.5B1dplix40M6YS7um-04NwAAAA&pid=Api&P=0&h=180"draggable="false"height="190px" width="355px"><a href="trending foot wear.html" target="_blank"><br/><center>trending foot wear</center></a></td>
                </tr>
            </tbody>
        </table>


        <h2>ENTERTAINMENT PLATFORMS</h2>
        <table border="5" align="center" width="60.4%">
            <thead>
                <tr>
                    <th>Music Platform</th>
                    <th>Movies Platforms</th>
                    <th>Sports Platforms</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td><img src="https://www.superiorwallpapers.com/download/many-different-speakers-in-the-abstract-music-wallpaper-5120x3200.jpg"draggable="false"height="180px"width="355px"><a href="music.html"target="_blank"><br/><center>Top Music</center></a></td>
                <td><img src="https://i.gadgets360cdn.com/large/netflix-amazon-india-streaming_1547808042873.jpg?output-quality=80"draggable="false"height="180px"width="340px"><a href="movies.html"target="_blank"><br/><center>Top Movies</center></a></td>
                <td><img src="https://2.bp.blogspot.com/-SEQON9qxre8/V1KujfmffxI/AAAAAAAAAKE/LXkz9VC9lYMXo8mYEHLWPQn-5hpcSJPpwCLcB/s1600/ghjklm.png"draggable="false"height="180px"width="350px"><a href="sports.html"target="_blank"><br/><center>Sports</center></a></td>
        
            </tr>
            
            </tbody>
        </table>

    </body>
    <script type="text/javascript">
        alert ("welcome to SR shopping");
    </script>
    <script type="text/javascript">
        prompt("enter your name");
    </script>
    <!-- <script>
        var res = prompt("Please enter some data","default data");
        if (res !="app.js" && res != "default data") {
            
          location = "mongodb://127.0.0.1:27017/student-reg"+escape(res);
        }
        </script> -->
        <script>
            function SearchQuery(val) {
              document.getElementById("searchButton").href = "shopping.html" + val;
            }
          
            function buttonClick(){
              document.getElementById("searchBox").value = "";
            }
          </script>
          
          <!-- <section>
            <input id="searchBox" type="text" name="searchBox" value="" onchange="SearchQuery(this.value)">
            <a id="searchButton" href="shopping.html" target="_blank" onclick="buttonClick()">Search with Google</p></a>
            </section> -->
        <div class="detail">
        <h2>About us</h2>
        <p>Developed by s.sujan reddy</p>
        <p>for any quaries contact us on +917396671972</p>
        <p>Our email<a>sujanreddy610@gmail.com</a></p>
        <p>Developed under MAKE IN INDIA PROJECT</p></div>
        <div class="media" >
        <a style="margin-top: -2%;"> <h2  >Follow us on</h2></a>
        <a href="https://www.instagram.com/" style="font-size: larger;text-decoration: none;color: white;" >instagram<img src="https://static.thenounproject.com/png/4145-200.png" height="30px" width="20px"></a><br>
        <a href="https://twitter.com/i/flow/login?redirect_after_login=%2F%3Flang%3Den-in" style="font-size: larger;text-decoration: none;color:white;" >twitter<img src="https://img.android.com.pl/images/user-images/2017/09/twitter_logo_640.0.jpg" height="30px" width="20px"></a><br>
        <a href="https://www.facebook.com/" style="font-size: larger;text-decoration: none;color:white;;" >facebook<img src=" https://tse4.mm.bing.net/th?id=OIP.MuO_sCDT49APDO3ha5yyxAHaE8&pid=Api&P=0&h=180" height="30px" width="20px"></a><br>        
    </div> 




    <h2>DelftStack learning</h2>
<h3>JavaScript comment box example</h3>
<form id="myForm">
Full name: <input id="userName" type="text" name="fname">
<br><br>
Email : <input id="userEmail" type="text" name="email">
<br><br>
<textarea id ="userComment" rows="4" cols="50" name="comment"> Enter comment here...</textarea>
<br><br>
<input type="button" onclick="myFunction()" value="Submit">
</form>
<h5>Submitted data :</h5>
<p id="data"></p>
<script>
function myFunction(){
let data = "";  let name = document.getElementById("userName").value
let email = document.getElementById("userEmail").value
let comment = document.getElementById("userComment").value
 
data = "User name : "+name+"<br/>User email : "+email+ "<br/>User comment : "+comment
 
document.getElementById("data").innerHTML = data  // display data to paragraph
}
</script>


</html>

<!--<h1>This is home page</h1>

<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>-->
