p{
    padding: 10px 50px;
}
/* body{
    background-i
    image: url("https://tse1.mm.bing.net/th?id=OIP.S5_ixzD7qWAJIcfkSXhTIwAAAA&pid=Api&P=0&h=180");
    background-repeat: no-repeat; */
    /* background-size: 50% 50%;
    
    
} */
/* .img{
    margin-left: 90%;
    margin-bottom:0%;
    background: scroll;
} */
.heading{
    margin-left: 30%;
    margin-top: -14%;
    text-decoration: none;
}